pkgbase = clipsneko-icons
	pkgdesc = Icons for ClipsNeko Linux
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ReSpringClipsNeko/ClipsNeko-Icons
	arch = any
	license = custom
	makedepends = git
	source = git+ssh://git@github.com/ReSpringClipsNeko/ClipsNeko-Icons.git
	sha256sums = SKIP

pkgname = clipsneko-icons
