pkgbase = clipsneko-hooks
	pkgdesc = ClipsNeko Linux libalpm hooks
	pkgver = 2026.07.16
	pkgrel = 1
	url = https://github.com/ReSpringClipsNeko/clipsneko-hooks/
	arch = any
	groups = clipsneko
	license = GPL-3.0-or-later
	makedepends = git
	depends = systemd
	source = git+https://github.com/ReSpringClipsNeko/clipsneko-hooks#tag=2026.07.16
	sha512sums = 4bde992ce06c0d63873087edc994d4116cf38f0a2c8023ce17159e57a37ea4890dfd15f4d860fad1dc5ac0d005a36f1f07e3ea87cca010aee84da32a2649929b

pkgname = clipsneko-hooks
