pkgbase = clipsneko-hooks
	pkgdesc = ClipsNeko Linux libalpm hooks
	pkgver = 2026.07.14
	pkgrel = 1
	url = https://github.com/ReSpringClipsNeko/clipsneko-hooks/
	arch = any
	groups = clipsneko
	license = GPL-3.0-or-later
	makedepends = git
	depends = systemd
	source = git+https://github.com/ReSpringClipsNeko/clipsneko-hooks#tag=2026.07.14
	sha512sums = eef84fd3c9c2cc27e7e75fc7042cee76bed66f0261545ae81e97f2af465427bd3d1bb34216d49774610550d8501f615f0c5d4a1c51b9ef339d6bc16250d20c51

pkgname = clipsneko-hooks
