pkgbase = clipsneko-hooks
	pkgdesc = ClipsNeko Linux libalpm hooks
	pkgver = 2026.07.14
	pkgrel = 1
	url = https://github.com/ReSpringClipsNeko/clipsneko-hooks/
	arch = any
	groups = clipsneko
	license = GPL-3.0-or-later
	makedepends = git
	depends = systemd
	source = git+https://github.com/ReSpringClipsNeko/clipsneko-hooks#tag=2026.07.14
	sha512sums = 19d0e0b6ddf33b96cae46e1313793717867c8ef9d6e82b5a3bc5c5863804018b938e2d5af6e674656829e202dca67d1491c043c25187ed225aa214aa870a2a6c

pkgname = clipsneko-hooks
