pkgbase = clipsneko-dotfiles
	pkgdesc = ClipsNeko Linux Hyprland dotfiles
	pkgver = 0.2.1
	pkgrel = 2
	url = https://github.com/ReSpringClipsNeko/clipsneko-dotfiles/
	arch = any
	groups = clipsneko
	license = custom
	makedepends = git
	depends = hyprland
	depends = hypridle
	depends = hyprlock
	depends = hyprpaper
	depends = xdg-desktop-portal-hyprland
	depends = waybar
	depends = mako
	depends = kitty
	depends = uwsm
	depends = pipewire
	depends = wireplumber
	depends = pipewire-pulse
	depends = pipewire-alsa
	depends = qt5-wayland
	depends = qt6-wayland
	depends = brightnessctl
	depends = hyprpolkitagent
	source = git+https://github.com/ReSpringClipsNeko/clipsneko-dotfiles#tag=v0.2.1
	sha512sums = SKIP

pkgname = clipsneko-dotfiles
